@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #687953;
    color: #c5c1a2;
    font-family: "Lora", serif;
    font-style: italic;
    font-size: 42px ;

}