@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: "Inter", sans-serif;
    /* background-color: #d3d3d3; */
    background-color: #0b090a;
}

h1 {
    text-align: center;
    color: #d3d3d3;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

    .color-container {
        display: flex;
        justify-content: center;
    align-items: center;
        width: 300px;
        height: 150px;
        color: white;
        margin: 5px;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        text-shadow: 2px 2px 4px rgba(0,0,0.5);
        border: 2px solid black;
        border-radius: 10px;
    }
